*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
   
    grid-template-columns: auto;
    display: grid;
    justify-content: center;

}

@media (min-width:100px) and (max-width: 1919.98px) {
    
}